[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pdfkit = "*"
flask-cors = "*"
bs4 = "*"
pypdf2 = "*"
pypdf = "*"
google = "*"
tldextract = "*"
python-whois = "*"
requests-html = "*"
logzero = "*"
pytest = "*"
marshmallow = "*"
genson = "*"
faker = "*"
setuptools = "*"
wheel = "*"
spacy = "*"
pandas = "*"
xhtml2pdf = "*"
pdftitle = "*"
"pdfminer.six" = "*"
python-docx = "*"
fitz = "*"
pymupdf = "*"

[dev-packages]

[requires]
python_version = "3.11"
